name: CI/CD
on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Run test
      run: make test

    - name: Test Docker build
      run: docker build --rm -t ghcr.io/scribd/objinsync:latest .


  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: test
    steps:

    # - name: Login to GitHub Container Registry
    #   uses: docker/login-action@v1
    #   with:
    #     registry: ghcr.io
    #     username: scribdbot
    #     password: ${{ secrets.SCRIBDBOT_GH_CONTAINER_REGISTRY_TOKEN }}

    - name: Log into registry ${{ env.REGISTRY }}
      uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    # required for the changelog to work correctly
    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
      id: go

    - name: Run goreleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: v0.131.1
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # FIXME: SCRIBDBOT_GH_CONTAINER_REGISTRY_TOKEN doesn't have write access to publish package
    # - name: Build and publish docker image
    #   run: |
    #     VERSION=${GITHUB_REF##*/}
    #     docker build --rm -t "ghcr.io/scribd/objinsync:${VERSION}" .
    #     docker push "ghcr.io/scribd/objinsync:${VERSION}"

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: type=raw,value=latest


    - name: Build and push Docker image
      id: build_and_push
      uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
      with:
        context: .
        platforms: linux/amd64
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
